@import '../../variables';

.DnsZoneArchivedDropdown {
  // padding-bottom: 30px;

  .dnsRecords {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;

    &:hover {
      background-color: $blue-light-color;
    }
  }

  .createButton {
    margin-top: 30px;
  }
}
